<h1>Messages</h1>

<button id="load_button">Load</button>


<div id="container">
	<script id="messages" type="text/ractive">
		{{#if status == "load"}}
	    <table class="table">
	      <thead>
	        <tr>
			<th>ID</th>
			<th>TITLE</th>
			<th>DESCRIPTION</th>
			<th>ACTIONS</th>
	        </tr>
	      </thead>
	      <tbody>
	      	{{#messages:index}}
				<tr>
				<td>{{id}}</td>
				<td>{{title}}</td>
				<td>{{description}}</td>
	          	<td><button class="btn btn-danger" on-click="delete_message:{{messages[index]}}">Delete</button></td>
	          	<td><button class="btn btn-warning" on-click="select_message:{{messages[index]}}">Edit</button></td>
		      	</tr>
	      	{{/messages}}
	      </tbody>
		</table>
		{{/if}}
	</script>
</div>


<div id="message">
</div>




<%= render "messages/edit_message" %>